<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tokenNotFound</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css"
          integrity="sha512-9RIcp1f4CE6dEuYX9085tXaEbYd1ap04d2Av1ub/dwuT33WbfbHStDdQ+shKrp5wzZzleh5DOg+7ABSnaQP/nQ=="
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="hero bg-gray">
        <div class="hero-body">
            <h1 class="text-warning text-center">未找到token</h1>
        </div>
    </div>
</div>
</body>
</html>