<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bio.mapper.BioTagMapper">
    <insert id="addBiographyTags">
        <foreach collection="tags" item="item" separator=";">
            insert into biography.bio_tag_relation(bio_id, tag_id, gmt_create, gmt_modified, is_deleted)
            values (#{bioId},#{item.id},default,default,default)
        </foreach>
    </insert>
    <resultMap id="tags" type="com.example.bio.model.BioTag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="is_deleted" property="delFlag"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="getTagsByBiographyId" resultType="com.example.bio.model.BioTag" resultMap="tags">
        select bt.id,
               bt.tag_name,
               bt.is_deleted,
               bt.gmt_create,
               bt.gmt_modified,
               btr.bio_id,
               btr.tag_id,
               btr.is_deleted
        from biography.bio_tag bt,
             biography.bio_tag_relation btr
        where bt.is_deleted =0
          and btr.is_deleted =0
          and btr.tag_id = bt.id
          and btr.bio_id = #{id}
    </select>
</mapper>
