<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bio.mapper.UserActiveTokenMapper">
    <resultMap id="findByTokenMap" type="com.example.bio.model.UserActiveToken">
        <id column="id" property="id"/>
        <result column="expiry_date" property="expiryDate" javaType="java.time.LocalDateTime"/>
        <result column="token" property="token"/>
        <association property="user" javaType="com.example.bio.model.User">
            <id column="user_id" property="id"/>
        </association>
    </resultMap>
    <insert id="addToken">
        insert into biography.user_active_token(id, expiry_date, token, user_id)
        values (#{id}, #{expiryDate}, #{token}, #{user.id})
    </insert>

    <select id="findByToken" resultType="com.example.bio.model.UserActiveToken" resultMap="findByTokenMap">
        select a.id,
               a.expiry_date,
               a.token,
               a.user_id,
               u.id
        from biography.user_active_token a,
             biography.user u
        where a.user_id = u.id
          and a.token = #{token}
    </select>

    <delete id="removeToken">
        delete
        from biography.user_active_token
        where id = #{id}
    </delete>
</mapper>
